<app-navbar></app-navbar>

<main style="padding-top: 0px!important;">
  <div class="container-fluid">
    <router-outlet name="Secc"  #o="outlet" (activate)="onActive()"></router-outlet>
  </div>
</main>


  <!-- <p>opciones</p>
  <ul class="list-group">
    <li routerLink="ControlGestion" class="list-group-item">
        home
    </li>
    <li routerLink="Externo" class="list-group-item">
        externo
    </li>
    <li routerLink="Interno" class="list-group-item">
        interno
    </li>

  </ul> -->